{% comment %}
Collection template, used on collection.liquid and collection.image.liquid
{% endcomment %}

{% if settings.collection_products_grid == 'collage' %}
<div class="grid grid-collage">
  {% comment %}
  Loop through our products in the current collection.
  See the snippet 'snippets/product-grid-collage.liquid'.

  `is_reverse_row__product`, `three_row_index__product`, `collection_product_count`, and `divisible_by_three__product` are
  all used by 'snippets/product-grid-collage.liquid'
  {% endcomment %}

  {% assign is_reverse_row__product = false %}
  {% assign three_row_index__product = 0 %}
  {% assign collection_product_count__product = collection.products.size %}
  {% assign divisible_by_three__product = collection_product_count__product | modulo:3 %}

  {% for product in collection.products %}
    {% include 'product-grid-collage' %}
  {% else %}
    {% comment %}
    If collection exists but is empty, display message
    {% endcomment %}

    <div class="grid__item text-center">
      <p>{{ 'collections.general.no_matches' | t }}</p>
    </div>
  {% endfor %}
</div>

{% elsif settings.collection_products_grid == 'grid' %}
  <div class='grid-uniform'>
    <div class='grid__item  large--one-eighth medium--one-sixth small--one-whole'>
      {%- section 'collection-sidebar' -%}
    </div>

    <div class="grid__item large--seven-eighths medium--five-sixths small--one-whole">
      <div class="grid-uniform">
        {% if settings.collection_products_per_row == '3' %}
          {% assign grid_item_width = 'small--one-whole medium--one-half large--one-third' %}
        {% elsif  settings.collection_products_per_row == '4' %}
          {% assign grid_item_width = 'small--one-whole medium--one-third large--one-quarter' %}
        {% elsif settings.collection_products_per_row == '5' %}
          {% assign grid_item_width = 'small--one-whole medium--one-third large--one-fifth' %}
        {% elsif settings.collection_products_per_row == '6' %}
          {% assign grid_item_width = 'small--one-whole medium--one-quarter large--one-sixth' %}
        {% endif %}

        {% paginate collection.products by 45 %}
            
          <div id="AjaxinateLoop" class="AjaxinateLoop">
            {% for product in collection.products %}
              {% include 'product-grid-item' %}
            {% else %}
              {% comment %}
              If collection exists but is empty, display message
              {% endcomment %}
              <div class="grid__item text-center">
                <p>{{ 'collections.general.no_matches' | t }}</p>
              </div>
            {% endfor %}
          </div>
          
          <div id="AjaxinatePagination" class="AjaxinatePagination">
            {% if paginate.next %}
              <a href="{{ paginate.next.url }}">Loading More</a>
            {% endif %}
          </div>
          
        {% endpaginate %}
        
      </div>
    </div>
  </div>
{% endif %}


{% if paginate.pages > 1 %}
  <div class="pagination">
    {{ paginate | default_pagination |
                  replace: '&laquo; Previous', '<span class="icon icon-arrow-left" aria-hidden="true"></span>' |
                  replace: 'Next &raquo;', '<span class="icon icon-arrow-right" aria-hidden="true"></span>'
    }}
  </div>
{% endif %}


