{% if section.settings.video_url != blank %}
  <style>
    #{{ section.id }}-vid {
      margin: 30px auto 100px;
      margin-bottom: 9vw;
      max-width: 1100px;
    }
  </style>
  
  <div id="{{ section.id }}-vid">
    {% if section.settings.video_url.type == 'vimeo' %}
      <iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    {% elsif section.settings.video_url.type == 'youtube' %}
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?modestbranding=1&playsinline=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Collection Video",
  "settings": [
    {
      "id": "video_url",
      "type": "video_url",
      "label": "Video URL",
      "accept": ["vimeo", "youtube"],
      "default": "https://vimeo.com/486433183",
      "info": "Vimeo or YouTube URL"
    }
  ]
}
{% endschema %}