<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">
    <h1 style="display: none">{{ page.title }}</h1>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        {% if section.blocks.size > 0 %}
          <div class="league-grid">
            {% for block in section.blocks %}
              <div>{{ block.settings.title }}</div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "League Page",
  "settings": [],
  "blocks": [
    {
      "type": "team_member",
      "name": "Team Member",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Name"
        }
      ]
    }
  ]
}
{% endschema %}
