{% if section.settings.image %}
  <div class="password-image">
    <img src="{{ section.settings.image | img_url: '1500x' }}" />
  </div>
{% endif %}

  {% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
  {% endschema %}