<div class="password-image">
  {% if section.settings.image %}
    <img
      src="{{ section.settings.image | img_url: '1500x' }}"
    />
  {% elsif section.settings.message %}
    {{ section.settings.message }}
  {% endif %}
</div>

  {% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "textarea",
        "id": "message",
        "label": "Message"
      }
    ]
  }
  {% endschema %}